@layout('masterProforma')
@section("body")
  <p> Olá !</p>   
  <p>Um novo cliente se cadastrou no sistema.</p>   
  <p>Veja baixo alguns detalhes:</p>   

  <p>Nome: <strong>{{user.name}}</strong></p>
  <p>Email: <strong>{{user.email}}</strong></p>
  <p>Telefone: <strong>{{user.cellPhone}} </strong></p>


  <p>Para mais detalhes do pedido acesse a plataforma com o seu usuário e senha</p>

  <p><strong>Obrigado!</strong></p>
  </div>
@endsection



