@layout('master')
@section("body")
<div>
  <p> Agradecemos por escolher a Xportech!</p>   
  <p>Estamos animados para trabalhar juntos e garantimos nosso compromisso em fornecer o melhor serviço possível.</p>
  <p>Em breve nossa equipe de onboarding entrará em contato para agendar o treinamento da plataforma</p>   
  <p>Se surgirem dúvidas ou precisar de suporte, estamos aqui para ajudar.</p>   

  </div>
@endsection



